<form [formGroup]="loginForm" class="example-container">
  <img class="logo" src="/images/bursa-barosu-logosu.png" alt="Bursa Barosu">
  <h4 class="login-title">Müvekkil Takip Yazılımı</h4>
  <mat-form-field>
    <input matInput placeholder="Emailinizi giriniz" formControlName="email" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Şifrenizi giriniz" [type]="hide ? 'password' : 'text'" formControlName="password"
      >
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div #alert class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{errorMessage}}
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Giriş Yap</button>
  </div>
</form>
